footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background-color: #96bfe7;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    border: 1px solid #e3acac;
    padding: 8px;
}

th {
    background-color: #d67c7c;
    text-align: left;
}