header {
    background-color: #f0f0f0;
    padding: 10px 0;
    text-align: center;
    font-family: Arial, sans-serif;

    nav {
        display: flex;
        justify-content: center;
        gap: 20px;

        a {
            text-decoration: none;
            color: #333;
            font-weight: bold;

            &:hover {
                color: #1809ef;
            }
        }
    }
}

article {
    h2 {
        font-family: Arial, sans-serif;
        line-height: 1.6;
    }

    h3 {
        font-family: Arial, sans-serif;
        color: #333;
        margin-top: 20px;
    }

    margin: 20px;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: 20px 0;
    font-family: Arial, sans-serif;

    th,
    td {
        border: 1px solid #e3acac;
        padding: 8px;
    }

    th {
        background-color: #d67c7c;
        text-align: left;
    }
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background-color: #96bfe7;
    ;
}