/* Reset */
* {
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

/*-------Header----------*/

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 10px;
  align-items: center;
  position: fixed;
  z-index: 9999;
  color: white;
  padding: 1rem;
  backdrop-filter: blur(6px);
  font-weight: 700;
}

.logo {
  display: flex;
  align-items: center;
}

.logo .logo-text {
  font-size: large;
  font-weight: bold;
  margin-left: 12px;
}

/*-----Menu Style-------*/
.nav-links {
  display: flex;
  list-style: none;
}

.nav-links li {
  margin-left: 2rem;
  position: relative;
  margin: 5px;
}

.nav-links a:hover {
  background: #262d36;
  border-radius: 20px;
  color: white;
}

.nav-links a {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  align-items: center;
}

/* Menu Dropdown */
.dropdown-toggle img {
  transform: translateY(8px);
}

.dropdown {
  align-items: center;
}
.dropdown-menu {
  display: none; /* default hidden */
  position: absolute;
  top: 100%;
  left: 0;
  background: rgb(255, 255, 255);
  border-radius: 5px;
  width: 200px;
  box-shadow: 0 2px 5px black;
  flex-direction: column;
  list-style: none;
  opacity: 0;
  transform: translateY(-10px);
  transition: all 0.3s ease;
  z-index: 999;
}

.dropdown-menu li {
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #eee;
}

.dropdown-menu li:last-child {
  border-bottom: none;
}

.dropdown-menu a {
  color: #1f1515;
  display: block;
}

.dropdown:hover .dropdown-menu,
.dropdown.open .dropdown-menu {
  display: flex;
  opacity: 1;
  transform: translateY(0);
  transition: max-height 0.3s ease-in-out;
}

.dropdown-toggle img {
  display: none;
}

/*-------Mobile Menu-------*/
.mobile-menu {
  display: none;
  background: none;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}

/*---------Body-------*/
body {
  background-color: #5e6361;
}

main {
  display: flex;
  flex-wrap: nowrap;
}

/* Cards */
.what {
  position: relative;
  background-image: url("../img/coffe.jpg");
  height: 100vh;
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: center;
  justify-content: center;
  text-align: justify;
  display: flex;
  flex-direction: column;
}

.what::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
}

.what h1,
.what p {
  display: flex;
  position: relative;
  text-align: justify;
  justify-content: left;
  color: white;
  margin-left: 10%;
  margin-right: 40%;
  padding-right: 20px;
  z-index: 0;
  align-items: center;
  font-size: 20px;
}

.content .what h1 {
  max-width: 60rem;
  text-align: left;
}

.why {
  position: relative;
  background-image: url("../img/coffe.jpg");
  min-height: 100vh;
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.why::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
}

.why h1,
.why p {
  display: flex;
  position: relative;
  color: white;
  z-index: 1;
}

.how {
  position: relative;
  height: 100vh;
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  background-color: #296d52;
  flex-direction: column;
}
.how::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
}

.how h1 .how p {
  display: flex;
  align-self: first baseline;
  justify-content: space-between;
  background-color: white;
  position: relative;
  color: rgb(241, 222, 222);
  z-index: 1;
}

.how p {
  display: flex;
  position: relative;
  color: white;
  text-align: center;
  margin: 10px;
}

main aside {
  position: fixed;
  inset-block: 0;
  inset-inline-end: 0;
}

aside .side {
  display: flex;
  height: 100%;
}
aside .side ul {
  padding: 1.5rem 1rem;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  margin: auto;
  background-color: #fcfdff;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.side ul li {
  list-style: none;
}
.side ul li img {
  display: flex;
  height: 30px;
}

/*---------Footer------------*/
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f1f0e4;
  justify-content: center;
  font-weight: bold;
  padding: 20px;
  font-size: 13px;
}

.contact h1 {
  text-align: center;
}

/*---------Responsive------------*/
@media screen and (max-width: 768px) {
  .nav-links {
    position: absolute;
    top: 100%;
    left: 0;
    background: #2c3e50;
    flex-direction: column;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;
  }

  .nav-links.open {
    max-height: 20000px; /* expand menu */
  }

  .nav-links li {
    margin: 0;
    padding: 1rem;
  }

  .mobile-menu {
    display: block;
  }

  main {
    flex-direction: column;
  }

  #content {
    flex: none;
  }

  .what p {
    max-width: 80%;
    display: flex;
  }

  aside {
    display: flex;
    flex: none;
    order: 2; /* tampil setelah konten */
    margin-top: 100%;

    min-width: 100%; /*biar fleksibel di hp */
  }

  .logo-form img {
    max-width: 80%; /* perkecil logo di layar kecil */
  }

  .input-form input,
  .btn {
    font-size: 14px;
  }

  .dropdown-menu {
    display: none; /* pastikan default tetap hidden */
    opacity: 1;
    transform: translateY(-10px);
    transition: all 0.3s ease;
  }

  .dropdown-toggle img {
    transform: translateY(10px);
  }

  .dropdown.open .dropdown-toggle img {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
  }

  .dropdown.open .dropdown-menu {
    display: flex;
    opacity: 1;
    transform: translateY(0);
  }
}
